body {
    height: 100vh;
    background-color: rgb(82,80,75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playground {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control-panel {
    border: 3px solid black;
    border-radius: 17px;
    height: 100px;
    width: 600px;
    background-color: white;
}

.game {
    border: 3px solid black;
    border-radius: 20px;
    height: 600px;
    width: 600px;
    background-color: white;
    
}