body {
    height: 100vh;
    background-color: rgb(82,80,75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.playground {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control-panel {
    border: 3px solid black;
    border-radius: 17px;
    height: 100px;
    width: 550px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.tools {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

button {
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
    font-family: monospace;
}

.pen-btn.buttonPressed {
    box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(80 74 15 / 0.6);
    background-color: rgb(154,152,153);
}

.pencil-btn.buttonPressed {
    box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(80 74 15 / 0.6);
    background-color: rgb(154,152,153);
}

button:hover {
  background-color: rgb(154,152,153);
}

button:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(80 74 15 / 0.6);
}

.grid-size-btn {
    height: 30px;
    width: 150px;
}

.tools > button {
    height: 20px;
    width: 80px;
}

.colors > button {
    height: 20px;
    width: 130px;
}

#color-indicator {
    background-color: black;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 12px;
}

.game {
    border: 3px solid black;
    border-radius: 20px;
    height: 550px;
    width: 550px;
    background-color: white;
    display: flex;
}

.game-grid {
    width: 100;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 4px;
}


.dropdown-menu {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 162px;
    min-width: 140px;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 10;
}

.dropdown-menu > button {
    margin: 2px;
    padding: 8px 12px;
    color: #333;
    border: 2px solid white;
    border-radius: 4px;
}

.dropdown-menu > colorSel:hover {
    background: rgb(154,152,153);
}